.btn.del:hover{
    cursor: pointer;
}

.nav-bar{
    height: max-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

nav{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav .logo{
    font-size: clamp(1.5rem, -0.25rem + 10vw, 2.25rem);
    font-family: 'Lexend-Bold';
    color: var(--primary);
}

nav .settings{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 60px;

    z-index: 2;
}

nav .hamburger{
    display: none;
}

nav .search-input, .nav-bar .search-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    z-index: 1;
}

nav .search-input{
    width: 33%;
    max-width: 400px;
}

.search-input input, .nav-bar .search-input input{
    width: 100%;
    
    outline: none;
    border: none;
    border-radius: 100px;

    font-size: 16px;
    font-family: 'Lexend-SemiBold';

    color: #2D4059;

    padding: 10px 10px 10px 50px;
}

.dropdown-search{
    width: 100%;
    height: 0;
    max-height: 300px;

    position: absolute;
    top: 50px;

    background: white;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);

    overflow-y: scroll;

    transition: height 0.5s ease-in-out;
}

input:focus ~ .dropdown-search, .dropdown-search.open:hover, .dropdown-search:focus-visible{
    height: 200px;
}

.dropdown-search.open{
    height: 200px;
}

.dropdown-search .headers{
    display: flex;
    justify-content: space-between;

    font-family: 'Lexend-SemiBold';
    color: #496994;
}

.dropdown-search > *{
    padding: 15px 20px;
}

.dropdown-search small:nth-child(2){
    display: flex;
    align-items: center;
    gap: 5px;

    color: #2D4059;
}

.dropdown-search small:nth-child(2):hover, .dropdown-search small:nth-child(2):hover .trash{
    cursor: pointer;
}

.dropdown-search small:nth-child(2) .trash{
    transition: transform 0.2s ease-in-out;
}

.dropdown-search small:nth-child(2):hover .trash{
    transform: scale(1.1);
}
  
.dropdown-search::-webkit-scrollbar {
    width: 5px;
}
.dropdown-search::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #DFE9EB;
}

.dropdown-search::-webkit-scrollbar-track:hover {
    background-color: #cecece;
}

.dropdown-search::-webkit-scrollbar-track:active {
    background-color: #e2e2e2;
}

.dropdown-search::-webkit-scrollbar-thumb {
    height: 10px;
    border-radius: 8px;
    background-color: #2D4059;
}

.dropdown-search::-webkit-scrollbar-thumb:hover {
    background-color: #62A34B;
}

.dropdown-search::-webkit-scrollbar-thumb:active {
    background-color: #62A34B;
}

.dropdown-search .loader-container{
    width: 100%;
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
}

.loader{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: 
    radial-gradient(farthest-side,#2D4059 94%,#0000) top/4px 4px no-repeat,
    conic-gradient(#0000 30%,#2D4059);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
    animation:s3 1s infinite linear;
}

@keyframes s3{ 
    100%{transform: rotate(1turn)}
}

.dropdown-search .city{
    width: 100%;

    background: white;
    color: #496994;
    padding: 15px 20px;
    font-family: 'Lexend-Medium';

    display: flex;
    align-items: center;
    gap: 15px;
}

.dropdown-search .city:hover{
    background: #f2f2f2;
    color: #2D4059;
    cursor: pointer;
}

.dropdown-search .city .mapin{
    transition: transform 0.3s ease-in-out;
    color: #2D4059;
}

.dropdown-search .city:hover .mapin{
    transform: scale(1.1);
}

.city .bookmark{
    margin-left: auto;
}

.search-input input::placeholder, .nav-bar .search-input input::placeholder{
    color: #496994;
}

.search-input .btn, .nav-bar .search-input .btn{
    position: absolute;
    color: #496994;
}

.search-input .btn:nth-child(1), .nav-bar .search-input .btn:nth-child(1){
    left: 15px;
}

.search-input .btn:nth-child(2), .nav-bar .search-input .btn:nth-child(2){
    right: 15px;
}

.settings .theme-slider{
    min-width: 95px;

    display: flex;
    justify-content: space-between;

    position: relative;

    background: var(--bg-container);

    padding: 5px 0;
    border: var(--border-container);
    border-radius: 20px;
}

.settings .theme-slider:hover{
    background: var(--bg-container-hover);
}

.theme-slider .slider{
    position: absolute;
    transform: translate(0, -5px);
    z-index: 1;

    width: 50%;
    height: 100%;

    background: var(--theme-slider);
    border-radius: 20px;

    transition: transform 0.3s ease-in-out;
}

.theme-slider .btn{
    width: 50%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    color: var(--primary);
}

.theme-slider .btn > *{
    pointer-events: none;
}

.theme-slider .btn:hover{
    cursor: pointer;
}

.theme-slider .btn:not(.selected):nth-child(1):hover{
    animation: sunAnimation ease-in-out 2s;
}

.theme-slider .btn:not(.selected):nth-child(2):hover{
    animation: moonAnimation ease-in-out 1.5s;
}

.theme-slider .btn.selected{
    color: var(--theme-slider-text);
}

@keyframes moonAnimation{
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(-25deg);
    }
    75%{
        transform: rotate(25deg);
    }
    100%{
        transform: rotate(0);
    }
}

@keyframes sunAnimation{
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.settings .language-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.language-part .language{
    color: var(--primary);

    position: relative;
}

.language-part .language:hover{
    cursor: pointer;

    color: var(--text-hover);
}

.language-part .language-dropdown{
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);

    background: var(--language-dropdown);
    border: none;
    border-radius: 16px;

    height: 0;
    overflow: hidden;
    padding: 0;

    transition: height 0.5s ease-in-out;

    box-shadow: var(--box-shadow);
}

.language-part .language:hover ~ .language-dropdown,
.language-part .language-dropdown:hover, 
.language-dropdown:focus-within, .language-dropdown:focus{
    height: 168px;
    border: var(--border-container);
}

.language-dropdown li{
    width: 100%;

    display: flex;
    align-items: center;
    gap: 20px;

    padding: 10px 20px;
}

.language-dropdown li:first-child{
    padding-top: 15px;
}

.language-dropdown li:last-child{
    padding-top: 15px;
}

.language-dropdown li:hover{
    background: var(--bg-container-hover);

    cursor: pointer;
}

.language-dropdown li img{
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.language-dropdown li:hover img{
    transform: scale(1.1);
}

.language-dropdown li p{
    font-family: 'Lexend-Medium';
    color: var(--primary);
    pointer-events: none;

    position: relative;
}

.language-dropdown li.selected p{
    font-family: 'Lexend-SemiBold';
    filter: brightness(1.5);
}

.language-dropdown li.selected p::after{
    content: "";
    
    position: absolute;
    top: 50%;
    right: -12px;
    border-radius: 50%;

    width: 6px;
    height: 6px;
    background: var(--primary);
    opacity: 0;
    animation: selectedLang 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes selectedLang{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(-50%);
    }
}

.settings .units{
    display: flex;
    align-items: center;
    gap: 10px;

    color: var(--primary);
}

.units p{
    font-size: 22px;
    position: relative;
}

.units p.selected::after{
    font-size: 22px;

    content: "";
    
    position: absolute;
    top: -2px;
    left: 50%;
    border-radius: 50%;

    width: 4px;
    height: 4px;
    background: var(--primary);
    opacity: 0;
    animation: selectedUnit 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes selectedUnit{
    from{
        opacity: 0;
        transform: translateX(-20px);
    }
    to{
        opacity: 1;
        transform: translateX(-50%);
    }
}

.units p:hover{
    cursor: pointer;
}

.units p:not(.selected):hover{
    cursor: pointer;

    color: var(--text-hover);
}

.units p:not(.selected){
    color: var(--unit-not-selected);
}

@media screen and (max-width: 1150px) {
    nav{
        position: relative;
    }
    
    nav .settings{
        width: 100%;
        max-width: 400px;
        height: max-content;
        padding: 20px 0;
        border-radius: 16px;

        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(100vw);

        flex-direction: column;
        justify-content: center;
        gap: 40px;

        background: var(--nav);
        box-shadow: var(--box-shadow);

        transition: transform 0.6s ease-in-out;
    }
    
    nav .hamburger{
        position: relative;
        width: 25px;
        height: 25px;
        border: none;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }
    
    .hamburger .line{
        width: 25px;
        height: 3px;
        background: var(--primary);
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
    }
    
    .hamburger .line::after, .hamburger .line::before{
        content: "";
        position: absolute;
        right: 0;
        width: 25px;
        height: 3px;
        background: var(--primary);
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
    }
    
    .hamburger .line::before{
        transform: translateY(-8px);
    }
    
    .hamburger .line::after{
        transform: translateY(8px);
    }
    
    .hamburger.open .line{
        transform: translateX(10px);
        background: transparent;
    }
    
    .hamburger.open .line::before {
        transform: rotate(-45deg) translate(-7px, -7px);
    }
    
    .hamburger.open .line::after {
        transform: rotate(45deg) translate(-7px, 7px);
    }
    
    .settings.show-nav{
        transform: translateX(-50%);
    }

    .theme-slider{
        background: var(--theme-slider-nav) !important;
        box-shadow: var(--theme-slider-nav-box-shadow);
    }

    .language-part{
        gap: 10px;
    }
    
    .language-part .language-dropdown{
        position: static;
        transform: none;
    
        background: var(--theme-slider-nav);
        box-shadow: var(--theme-slider-nav-box-shadow);
    }
}

@media screen and (min-width: 801px) and (max-width: 1150px) {
    nav .search-input{
        width: 43%;
        max-width: 450px;
    }
}

@media screen and (min-width: 280px) and (max-width: 800px) {
    .search-input{
        width: 100%;
        max-width: 450px;
    }
}