/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: 'Lexend-SemiBold';
  src: url(./assets/fonts/Lexend-SemiBold.ttf);
}

@font-face {
  font-family: 'Lexend-Bold';
  src: url(./assets/fonts/Lexend-Bold.ttf);
}

@font-face {
  font-family: 'Lexend-Regular';
  src: url(./assets/fonts/Lexend-Regular.ttf);
}

@font-face {
  font-family: 'Lexend-Light';
  src: url(./assets/fonts/Lexend-Light.ttf);
}

@font-face {
  font-family: 'Lexend-Medium';
  src: url(./assets/fonts/Lexend-Medium.ttf);
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  --primary: #2D4059;
  --secondary: #496994;
  --bg-container: rgba(255, 255, 255, 0.226);
  --bg-container-hover: rgba(255, 255, 255, 0.315);
  --nav: #e6f2ff;
  --border-container: 1px solid rgba(255, 255, 255, 0.31);
  --text-hover: #1c2836;

  --theme-slider: var(--primary);
  --theme-slider-text: #F8F8F8;
  --theme-slider-nav: white;
  --theme-slider-nav-box-shadow: 0 10px 20px rgba(129, 129, 129, 0.11);

  --bg: linear-gradient(
    0deg,
    hsl(203deg 93% 82%) 0%,
    hsl(203deg 98% 78%) 39%,
    hsl(203deg 98% 78%) 61%,
    hsl(203deg 93% 82%) 100%
  );;
  --otherinfo-bg: #436085;

  --unit-not-selected: #658fc5;

  --box-shadow: 0px 12px 18px rgba(164, 207, 255, 0.185);

  --btn-slider-bg: var(--primary);
  --btn-slider-fill: white;

  --forecast-types-hover: #3e597c;

  --language-dropdown: #BDE4FD;

  --skeleton-color1: #8CD4FF;
  --skeleton-color2: #A2DCFF;
  --skeleton-other-info1: #4D72A1;
  --skeleton-other-info2: #5988C3;
}

[data-theme='dark']{
  --primary: #f0f0f0;
  --secondary: #587299;
  --bg-container: rgba(17, 26, 39, 0.44);
  --bg-container-hover: rgba(17, 26, 39, 0.466);
  --nav: #233c5c;
  --border-container: 1px solid rgba(86, 118, 160, 0.295);
  --text-hover: #dfdfdf;

  --theme-slider: var(--primary);
  --theme-slider-text: #2D4059;
  --theme-slider-nav: var(--bg-container);
  --theme-slider-nav-box-shadow: 0 10px 20px rgba(9, 16, 26, 0.123);

  --bg: linear-gradient(
    0deg,
    hsl(216deg 45% 21%) 0%,
    hsl(215deg 46% 17%) 39%,
    hsl(215deg 46% 17%) 61%,
    hsl(216deg 45% 21%) 100%
  );
  --otherinfo-bg: #1b314d;

  --unit-not-selected: #445877;

  --box-shadow: 0px 12px 18px rgba(17, 26, 39, 0.185);

  --btn-slider-bg: var(--primary);
  --btn-slider-fill: var(--bg);

  --forecast-types-hover: #6581aa;

  --language-dropdown: #162439;

  --skeleton-color1: #223958;
  --skeleton-color2: #29446d;
  --skeleton-other-info1: #223D60;
  --skeleton-other-info2: #2A4C77;
}

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html{
  overflow-x: hidden;
}

body {
  font-family: 'Lexend-Regular', system-ui;
  background: var(--bg);

  min-height: 100vh;
}

#root{
  width: 100%;
  min-height: 100vh;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  padding: 20px 8%;
  overflow-x: hidden;
}

#root > *{
  width: 100%;
  max-width: 1400px;
}